<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Time_lapseDesktopCapturer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Time_lapseDesktopCapturer.Properties.Settings>
            <setting name="Interval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Scale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AbsoluteWidth" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="AbsoluteHeight" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="UseAbsoluteSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FixAspectRatio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveFormatIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SaveDirectory" serializeAs="String">
                <value />
            </setting>
        </Time_lapseDesktopCapturer.Properties.Settings>
    </userSettings>
</configuration>